/*Main Css*/
@font-face{
    font-family: apple;
    src: url('../fonts/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf');
}
body{
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}
#navBar{
    background-color: white;
    opacity: .9;
    background-image: url('../images/gradient.png');
}
#icon{
    width: 8rem;
}
button{
    border: none;
    background-color: transparent;
}
h3{
    font-family: apple;
    font-weight: bold;
    position: relative;
    left: 3rem;
    bottom:-1rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
h1{
    font-family: apple;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}
p{
    font-family: apple;
    font-weight: bold;
    position: relative;
    left:   8rem;
    bottom: 1.75rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
h5{
    font-weight: bold;
    font-family: apple;
    font-size: 3rem;
}
#temp{
    border-bottom: groove black .2rem;
    border-radius: 10%;
    height: 4rem;
}
.accordion-body{
    background-color: #006BEE;
    opacity: .9;
}
.accordion-item{
    width: 22rem;
    position: relative;
    top: 8rem;
    left: 70rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}
.accordion-button:not(.collapsed){
    background-color: rgb(0, 0, 0);
    opacity: .9;
}
.accordion-button{
    background-color: rgb(0, 0, 0);
    opacity: .9;
}
#slide{
    width: 30rem;
    height: 30rem;
}
.carousel-item{
    width: 50rem;
    height: 30rem;
}
#carouselExampleControls{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-left: 17.5rem;
    margin-top: -3rem;
    right: 5rem;
    width: 50rem;
    height: 30rem;
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
}
#week{
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
    background-color: rgb(0, 0, 0);
    opacity: .9;
    text-align: center;
    font-size: 2.3rem;
    width: 22rem;
    height: 3rem;
    position: absolute;
    top: 9rem;
    left: 70rem;
}
h2{
    font-weight: bold;
}
#update{
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
    background-color: rgb(0, 0, 0);
    opacity: .9;
    text-align: center;
    width: 50rem;
    position: relative;
    top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#update{
    font-size: 2rem;
}
#bar{
    width: 20rem;
    text-align: center;
    font-family: apple;
    color: white;
}
#title{
    height: 2.5rem;
    width: 15rem; 
    text-align: center;
    font-family: apple;
    color: white;
}
.bg-light{
    background-image: url('../images/gradient.png');
    border-bottom: rgb(0, 89, 255) .4rem groove;
}
.button{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#HeaderW{
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
    background-color: black;
    opacity: .9;
    text-align: center;
    width: 70rem;
    height: 6rem;
    position: relative;
    top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: apple;
    font-weight: bold;
    font-size: 5rem;
}
#accordion-item2{
    width: 22rem;
    position: relative;
    top: 17rem;
    left: 15rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
}
#Daily{
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
    background-color: rgb(0, 0, 0);
    opacity: .9;
    text-align: center;
    font-size: 2.3rem;
    width: 22rem;
    height: 3rem;
    position: absolute;
    left: 37rem;
    top: 12.1rem;
    color: whtie;
}
#day{
    position: absolute;
    left: 8rem;
    top: 14rem;
}
#Monthly{
    position: absolute;
    right: 5rem;
    top: 66rem;
}
#forcast{
    position: relative;
    height: 50rem;
    top: 9rem;
    background-image: url('../images/cloud.jpg');
    background-size: cover;
    border-top: rgb(0, 132, 255) .4rem groove ;
    border-bottom: rgb(0, 140, 255) .4rem groove;
}

.tempimg{
height: 1em;
width: 1em;
}


.card{
    position: relative;
    bottom: 3.5rem;
    box-shadow: black 2px 2px 2px 2px;
}

#expand{
    box-shadow: black 2px 2px 2px 2px ;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .stuff{
      width: 11rem;
      height: 4rem;
      font-size: 1.3rem;
      position: relative;
      right: 4rem;
      opacity: .9;
  }

  a{
      text-decoration: none;
  }

  #foot{
      position: relative;
      top: 25rem;
      color: black;
      text-align: center;
      font-size: 5rem;
  }
  #email{
    position: relative;
    top: 13rem;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 78rem;
    }

    #link{
        position: relative;
        top: 13rem;
        left: 17rem;
        color: black;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 26rem;
    }

    #ad{
        position: relative;
        right: 25rem;
        height: 29rem;
    }
    #imgAD{
        height: 18em;
       display: flex;
       justify-content: center;
       box-sizing: border-box;
       box-shadow: black 2px 2px 2px 2px;
       image-rendering: optimizeSpeed;
    }
    #ADbutton{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #adSection{
        position: relative;
        left: 25rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 70rem;
    }

    #footer{
        position: absolute;
        top: 370%;
        background-color: black;
        height: 20rem;
        border-top: rgb(0, 174, 255) .2rem groove;
    }
    #headFoot{
        position: relative;
        left: 1.5rem;
        text-align: center;
        font-size: 8rem;
    }
    #soc{
        position: relative;
        left: 28rem;
        width: 12rem;
        height: 7rem;
    }
    #righty{
        position: absolute;
        right: 50rem;
        bottom: 15rem;
    }
    #email{
        color: white;
    }
    .hEmail{
        position: relative;
        left: 8rem;  
    }
    #lefty{
        position: absolute;
        left: 67rem;
        top: 7rem;
    }
    #github{
        color: white;
        text-decoration: underline white;
        text-align: center;
    }
    .GitH{
        position: relative;
        bottom: 2rem;
        left: 8rem;
        text-decoration: none;
    }